<ion-content class="page-content">
  <div class="fondo"></div>
  <div class="container">
    <div class="form-container">
      <ion-item class="input-item">
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username" required></ion-input>
      </ion-item>
      <ion-button class="full-button" expand="full" (click)="resetPassword()">Recuperar</ion-button>
      <ion-button class="clear-button" fill="clear" (click)="goToLogin()">Regresar a Ingreso de Usuario</ion-button>
    </div>
  </div>
</ion-content>